html{
  height: 100%;
}

body{
  background-color: #62443C;
  width: 100%;
  position: relative;
}

body,
li,
a,
p{
  font-family: 'Lato', sans-serif;
}

.cross {
  width: 40px;
  height: 40px;
  margin-bottom:5px;
  margin-right:10px;
  margin-top:-10px;
  float:right;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-right {
  float: right!important;
}

.navbar-default{
  background: #ffffff;
  border-top-width: 0 !important;
  /* height: 6vh; */
}

.navbar-nav{
  display: inline-block;
  float:none;
  text-align: center;
}

#navbar{
  float: none;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #4d4d4d;
}

.col-centered{
  width: 380px;
  height: 350px;
  margin-top: 20vh;
  background-color: #fff;
  text-align: center;
}

.login-center{
  width: 380px;
  height: 310px;
  margin-top: 20vh;
  background-color: #fff;
  text-align: center;
}

.welcome-center{
  width: 380px;
  height: 200px;
}

.panel-login{
background-color: #fff;
border: #fff;
text-align: center;
}

.panel-login .panel-heading{
	float: none;
	padding-bottom: 0;
	/*border-bottom: solid 2px #f98470;
	margin-left: 7.9%;
	margin-right: 7.9%;*/
}

.panel-login .panel-heading .row{
	margin-top: 5.1%;
}

.col-xs-6 .email{
	padding-right: 0;
	padding-left: 1px;
}

.col-xs-6 .mobile{
	padding-right: 1px;
	padding-left: 0;
}

.panel-login .panel-heading a{
	font-size: 16px;
	color: #4d4d4d;
	text-align: center;
	text-decoration: none;
	padding-bottom: 3.5%;
	border-bottom: solid 3px #4d4d4d;
	display: block;
	border-bottom-width: 100%;
}

.panel-login .panel-heading a.active{
	display: block;
	color: #ff8470;
	text-align: center;
	text-decoration: none;
	padding-bottom: 3.5%;
	border-bottom: solid 3px #f98470;
	border-bottom-width: 100%;
}

.panel-login .panel-heading a.active{
	display: block;
	color: #ff8470;
	padding-bottom: 3.5%;
	border-bottom: solid 3px #f98470;
}

.checkbox{
    margin: 6px;
    text-align: left;
    color: #4d4d4d;
  }

.terms{
	font-size: 12px;
}

.terms a{
	color: #1a0dab;
}

.form-group a{
  text-align:center;
}

.input-group{
  margin: 4.5% auto;
}

.page-1{
	width:21px;
	height: 14px;
}

.page-2{
  width: 21px;
  height: 20px;
}

.btn{
  border: none;
  font-family: 'Lato', sans-serif;
  background-color: #f98470;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.sign-up{
    float: none;
    display: inline-block;
    margin-top: 30.5px;
    align-content: center;
    font-size: 79px;
    color: #4dbea4;
  }

#sign-in{
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: 4vh;
}

#sign-in a{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
}

#sign-in a:hover{
  border-bottom: solid 1px #fff;
}

.link {
  text-decoration: none !important;
  color: #ffffff;
  cursor: pointer;
}

#footer{
  font-family: 'Lato', sans-serif;
  position: fixed;
  padding-top: 4.5%;
  right: 0;
  left:0;
  bottom: 0;
  padding-bottom: 2.2%;
  width: 100%;
}

#footer  .text-center a {
  font-size: 2vh;
  color: white;
}

#footer .text-center a:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}

#footer .text-center a:not(:first-child) {
  margin-left: 40px;
}

#footer .text-center a:not(:last-child):hover{
  border-bottom: solid 1px #fff;
}

@media screen and (max-width: 767px), (max-height: 730px){
  .col-centered {
    width: 340px;
    height: 340px;
  }

  .login-center{
    width: 340px;
    height: 295px;
  }

  .btn {
    width: 310px !important;
	  font-size: 14px !important;
  }
  
  #sign-in a {
	font-size: 11px;
  }

  .panel-login>.panel-heading a{
	font-size: 13px;
  }

}

@media screen and (max-height: 700px){
  #footer{
    position: relative;
    padding-top: 4%;
  }
  
  #footer .text-center a{
	font-size: 12px;
  }
}
